body{

    margin: 0;
}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 650px;
	width: 200px
}
#boton{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
}
#navegacion-alineacion{
	margin-top: 20px;
}
#img1{
	height: 100px;
	margin-left: 50px;
	margin-bottom:20px;
}
/* Cuerpo*/

#cuerpo{
	background-color: #FFA100;
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	height: 650px;
	width: 850px;
	margin: auto;
	margin-top: 10px;
}

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}

#alineacion-contenido-cuerpo{

	width: 450px;
	margin: auto;
	text-align: center; /*Alenacion para los titulos*/
	font-family: 'Cinzel', serif; /*Fuente para los titulos*/
}
#btn-habitaciones-oculto-habitaciones{
	background-color: white;
	height: 420px;
	margin-top: 82px;
	display: flex;
	justify-content: space-around;
}
#alineacion-oculto-habitaciones{

	background-color: white;
	border: 2px solid gray;
	border-radius: 29px;
	margin: auto;
	margin-top: 64px;
	height: 364px;
	width: 284px;
}
#alineacion-img{
	display: flex;
	justify-content: center;
}
#marco{

	background-color: blue;
	margin: auto;
	height: 178px;
	width: 243px;
}
#circulo{
background-color: red;
	height: 25px;
	width: 25px;
	border-radius: 100%;
	margin: auto;
	margin-top: 25px;
}
#btn-habitaciones{
	width: -webkit-fill-available;
}



@media (min-width:1481px) {

	#cuerpo {
		background-color: #FFA100;
		height: 969px;
		width: 100%;
		overflow: scroll;
	}

	#navegacion {

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo {
		background-color: white;
		height: 837px;
		width: 850px;
		margin: auto;
		margin-top: 10px;
	}
}