body{
	    margin: 0;
	font-family: ;
}
#general{
	display: flex;
}
/*============ Inicio - Barra de navegacion ================*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 654px;
	width: 200px
}
#btn{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
}
#navegacion-alineacion{
	margin-top: 20px;
}
#img1{
	height: 100px;
	margin-left: 50px;
	margin-bottom:20px;
}
/*============ Fin - Barra de navegacion ================*/


/*============ Inicio - Cuerpo Registro ================*/

#cuerpo{
	background-color: #FFA100;
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	/*height: 650px;*/
	width: 850px;
	margin: auto;
	margin-top: 10px;
}


#alineacion-contenido-cuerpo{
	background: transparent;
	height: auto;
	width: 450px;
	margin: auto;
	text-align: center; /*Alenacion para los titulos*/
	font-family: 'Cinzel', serif; /*Fuente para los titulos*/
}

#registro-alineacion-cuerpo{
	background: transparent;
	width: 370px;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: left;
}
#btn-habitaciones{
	background-color: #182F53;
	margin-top: 30px;
	padding: 15px;
	color: white;
	border-radius: 10px;
}
#btn-alineacion{
	display: flex;
	justify-content: space-around;
	width: 420px;
}
.animacion-btn { /*Animacion para todos los botones*/
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover { /*Animacion para todos los botones*/
	background-position: 0;
}

#espaciado{
	margin: 0px;
	/*margin-top: 4px;*/
	border: 2px solid gray;
	border-radius: 36px;
	padding: 10px;
	font-size: 17px;
}
/*============ Fin - Cuerpo Registro ================*/

/*============ Inicio - Cuerpo Registro - Oculto ================

#btn-habitaciones-oculto-habitaciones{
	background-color: white;
	height: 840px;
	margin-top: 40px;
	display: flex;
}
#alineacion-oculto-habitaciones{

	background-color: white;
	border: 2px solid gray;
	border-radius: 29px;
	margin: auto;
	margin-top: 64px;
	height: 364px;
	width: 284px;
}
.sombra{

	position:relative; = Sombreado 2
	-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
	-moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
	box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

*/






















/*============ Inicio - Cuerpo Registro - Oculto ================*/


@media (min-width:1481px) {

	#cuerpo{
		background-color: #FFA100;
		height:  969px;
		width: 100%;
		overflow: scroll;
	}
	#navegacion{

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo{
		background-color: white;
		height: 837px;
		width: 850px;
		margin: auto;
		margin-top: 10px;
		padding-bottom: 50px;
	}
	#btn-habitaciones{
		background-color: #182F53;
		margin-top: 60px;
		margin-bottom: 20px;
		padding: 20px;
		color: white;
		border-radius: 10px;
	}
}

























