body{

    margin: 0;
}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 650px;
	width: 200px
}
#boton{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
}
#navegacion-alineacion{
	margin-top: 20px;
}
#img1{
	height: 100px;
	margin-left: 50px;
	margin-bottom:20px;
}
/* Cuerpo*/

#cuerpo{
	background-color: #FFA100;
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	height: 650px;
	width: 850px;
	margin: auto;
	margin-top: 10px;
}

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}

@media (min-width:1481px) {

	#cuerpo {
		background-color: #FFA100;
		height: 969px;
		width: 100%;
		overflow: scroll;
	}

	#navegacion {

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo {
		background-color: white;
		height: 837px;
		width: 850px;
		margin: auto;
		margin-top: 10px;
	}
}