body{
	    margin: 0;
}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 629px;
	width: 200px
}
#btn{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
}
#navegacion-alineacion{
	margin-top: 20px;
}
#img1{
	height: 100px;
	margin-left: 50px;
	margin-bottom:20px;
}

/*Inicio - Animacion botones*/

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}

/*#182F53

/*Fin - Barra de navegacion */

/*Cuerpo */

#cuerpo{
	background-color: #FFA100;
	height: 628px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	height: 601px;
	width: 1065px;
	margin: auto;
	margin-top: 10px;
}
#alineacion-tabla{
	width: 1024px;
	margin-left: 20px;
}
.registro-personal{
	display: flex;
	margin-left: 30px;
}

.registro{
margin-right: 55px;
}

.input{
	margin-top: 4px;
	border: 2px solid #d3cccc;
	border-radius: 9px;
	padding: 5px;
	font-size: 87%;	
}
table,tr,th{
	text-align: center;
	font-weight: normal;
}

 .encabezado{
	color: white;
	background-color: #2d4e83;
 }

#tabla{

	flex-direction: column;
    margin-left: 29px;
	margin-right: 23px;
    justify-content: center;
	
}
#btn-informacion-tabla{
	display: flex;
	font-weight:normal; 
	margin-left:30px;
	background-color:white; 
	border:0px; 
	padding:0px
}
#alineacion-tabla{
	width: 1024px;
	margin-left: 20px;
}
#img-flecha{
	
	height: 29px;
    margin-top: 12px;
    margin-right: 12px;
}

.tittletables{
	background: #2d4e83;
	color: #d3cccc;
	margin-left: 29px;
	margin-right: 23px;
}

.tamañocelda{
	width: 160px;
}
.disponibilidad{
	background:#FF6868;
}

.alineacion{
	float: right;
	margin-right: 23px;
}

.buttonedit{ /*Boton - Guardar - Editar*/
	width: 85px;
	height: 37px;
	/* margin: 10px 0 10px 0; */
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: 0;
	background-color: forestgreen;
	align-content: center;
}

.buttonedit:hover{
	background-color: #00C700;
}

.buttondelete{ /*Boton - Eliminar*/
	width: 85px;
	height: 37px;
	/* margin: 10px 0 10px 0; */
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: 0;
	background-color: #D40000;
	align-content: center;
}

.buttondelete:hover{
	background-color: #FB0000;
}
tbody{
	border-top: 0px solid currentColor;
}


.ButtonSave{

	width: 85px;
	height: 37px;
	/* margin: 10px 0 10px 0; */
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: 0;
	background-color: #2d4e83;
	align-content: center;
}

.ButtonSave:hover{
	background-color:#629ACF;
}

.TituluReserva{
	font-size: 165%;
}

@media (min-width:1481px) {

	#cuerpo{
		background-color: #FFA100;
		height:  969px;
		width: 100%;
		overflow: scroll;
	}
	#navegacion{

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}
	#alineacion-tabla{
		width: 998px;
		margin-left: 20px;
	}
	#contenido-cuerpo{
		background-color: white;
		height: 837px;
		width: 1040px;
		margin: auto;
		margin-top: 10px;
		padding-bottom: 50px;
	}
	#btn-habitaciones{
		background-color: #182F53;
		margin-top: 60px;
		margin-bottom: 20px;
		padding: 20px;
		color: white;
		border-radius: 10px;
	}
}

























