body{

    margin: 0;
}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 650px;
	width: 200px
}
#boton{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;

}
#navegacion-alineacion{
	margin-top: 20px;
}
#img1{
	height: 100px;
	margin-left: 50px;
	margin-bottom:20px;
}

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}


/* Cuerpo*/

#cuerpo{
	background-color: #FFA100;
	height: 650px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	height: 650px;
	width: 950px;
	margin: auto;
	margin-top: 10px;
}
#titulo{
	font-weight: normal;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:13px;
}

#tabla{

	flex-direction: column;
    margin-left: 29px;
	margin-right: 23px;
    justify-content: center;
}
.encabezado{
	 
	color: white;
	background-color: #2d4e83;
}
table,tr,th{
	
	border: 2px solid;
	 text-align: center;
	 font-weight: normal;
 }
 th{
	 padding-left: 18px;
	 padding-right: 18px;
 
  }

@media (min-width:1481px) {

	#cuerpo {
		background-color: #FFA100;
		height: 969px;
		width: 100%;
		overflow: scroll;
	}

	#navegacion {

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo {
		background-color: white;
		height: 837px;
		width: 1040px;
		margin: auto;
		margin-top: 10px;
	}
}