
body{
    margin: 0;
}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 629px;
	width: 200px
}
#boton{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;

}
#navegacion-alineacion{
	margin-top: 20px;
}
#img2{
	height: 100px;
	margin-left: 50px;
	margin-bottom:14px;
}

/*Inicio - Animacion botones*/

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}

/* Fin - Barra de navegacion*/

/* Cuerpo*/

#cuerpo{
	background-color: #FFA100;
	height: 628px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	color: white;
	background-color: white;
	background: url(../img/hotel61.jpg);
	background-size:1064px;
	height: 601px;
	width: 1065px;
	margin: auto;
	margin-top: 10px;
	padding-top: 30px;
}
.grid{
	display: grid;
	grid-template-columns: 33% 33% 33%;

}
.grid div{
	color: white;
	margin: auto;
	margin-bottom: 2px;
}
.grid img{
	border-radius: 4%;
	margin: auto;
}

.encabezado{
	margin-left: 20px;
	font-size: 19px;
	margin-right: 24px;
}

.grid2{
	display: grid;
	grid-template-columns: 33% 33% 33%;

}
.grid2 div{
	color: white;
	margin: auto;
	margin-bottom: 2px;
}
.grid2 img{
	border-radius: 4%;
	margin: auto;
}
@media (min-width:1481px) {

	#cuerpo {
		background-color: #FFA100;
		height: 969px;
		width: 100%;
		overflow: scroll;
	}

	#navegacion {

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo {
		background-color: white;
		height: 837px;
		width: 1040px;
		margin: auto;
		margin-top: 10px;
	}

}