
body{
    margin: 0;
	font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}
#general{
	display: flex;
}

/*	Barra de navegacion*/

#navegacion{

	float: left;
	background-color: #182F53;
	height: 629px;
	width: 200px
}
#boton{
	background-color: #182F53;
	color: white;
	margin-top:10px;
	width: 200px;
	height: 60px;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;

}
#navegacion-alineacion{
	margin-top: 20px;
}
#img2{
	height: 100px;
	margin-left: 50px;
	margin-bottom:14px;
}

.animacion-btn {
	border-color:  #FFA100;
	color: black;
	background-image: -webkit-linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-image: linear-gradient(45deg,  #FFA100 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}
.animacion-btn:hover {
	background-position: 0;
}


/* Cuerpo*/

#cuerpo{
	background-color: #FFA100;
	height: 628px;
	width: 100%;
	overflow: scroll;
}

#contenido-cuerpo{
	background-color: white;
	height: 601px;
	width: 1065px;
	margin: auto;
	margin-top: 10px;
	padding-top: 30px;
}

.grid{
	margin-left: 20px;
	margin-right: 53px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
	gap:79px;
	column-gap: 12px;
}
.grid div{
	
	text-align: center;
	color: #fff;
	background-color: #4ea93b;
	height: 100px;
	border-radius: 2%;
}

.no-habitacion{
	display: flex;
	flex-direction: column;
}
#estilos{
	height: 100px;
}


@media (min-width:1481px) {

	#cuerpo {
		background-color: #FFA100;
		height: 969px;
		width: 100%;
		overflow: scroll;
	}

	#navegacion {

		float: left;
		background-color: #182F53;
		height: 969px;
		width: 200px
	}

	#contenido-cuerpo {
		background-color: white;
		height: 837px;
		width: 1040px;
		margin: auto;
		margin-top: 10px;
	}

}